body
{
	font-family: Georgia;
	font-size: 11pt;
}
.evenrow
{
	color: #4A3C8C;
	background-color: #E7E7FF;
	font-size: smaller;
}
.oddrow
{
	color: #4A3C8C;
	background-color: #F7F7F7;
	font-size: smaller;
}
.colheader
{
	text-align: left;
}
.rcolheader
{
	text-align: right;
}
.partbox
{
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
	border-left-color: navy;
	border-bottom-color: navy;
	padding-bottom: 0px;
	margin: 0px;
	border-top-style: solid;
	border-top-color: navy;
	padding-top: 0px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: navy;
	border-bottom-style: solid;
}
.partboxtitle
{
	font-weight: bolder;
	color: white;
	background-color: navy;
}
.pagercell
{
	font-weight: bolder;
	color: white;
	vcolor: white;
	acolor: white;
	background-color: navy;
}
.message
{
	color: red;
}
.comment
{
	background-color: #E7E7FF;
}
.helptext
{
	border: dashed 1px #666666;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-style: italic;
	font-size: smaller;
}
.pagetitle
{
	font-size: larger;
	font-weight: bolder;
}
/*
td
{
	text-align: left;
}
*/
